.header .col-md-9{
	padding: 19px 0
}
.carousel-inner{
	width: 100%;
}
.main{
	padding: 15px 0;
}
.footer{
	background: black;
	color: white
}
.footer span{
	color: red
}
.blogs{
	padding: 15px 0
}
.map{
	padding: 15px 0
}
.mau{
	color: rgba(251, 219, 101, 1)
}
.comment-list{
	padding: 15px 0
}
.ktzp{
}
.lif{
	line-height: 30px;
	text-decoration	: underline;
}